/Temp
/Build
/Library/PlayerDataCache/WindowsStoreApps/Data/sharedassets0.assets.resS
/Library/PlayerDataCache/WindowsStoreApps/Data/sharedassets0.resource
/Library/PlayerDataCache/WindowsStoreApps/Data/sharedassets0.assets
